.TipsBuilderForm {
  border: 2px solid white;
  border-radius: 10px;
  padding-bottom: 3rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.TipsBuilderForm h1 {
  font-size: 1.5rem;
  text-align: center;
  font-family: OswaldBold;
  margin-bottom: 3rem;
}

.TipsBuilderForm .detailsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.TipsBuilderForm .label {
  font-size: 1.125rem;
  font-family: RobotoBold;
  margin-top: 1rem;
}

.TipsBuilderForm .input {
  height: 35px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  padding-left: 0.75rem;
  font-family: RobotoRegular;
  color: black;
}

.TipsBuilderForm .input::placeholder {
  font-size: 0.75rem;
  font-family: RobotoRegular;
}

.TipsBuilderForm .divCheckbox {
  margin-bottom: 4rem;
  margin-top: 1.5rem;
}

.TipsBuilderForm .labelCheckbox {
  text-transform: none;
  font-size: 1rem;
  font-family: RobotoMedium;
  padding-left: 3rem;
}

.TipsBuilderForm .labelCheckbox span {
  text-transform: none;
  font-size: 1rem;
  font-family: RobotoLightItalic;
}


/* Checkmark */

.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container .inputCheckbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--gold);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--gold);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



.matchSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.matchSection h2 {
    font-size: 1.125rem;
    font-family: RobotoMedium;
    margin-bottom: 1rem;
}

.TipsBuilderForm .submitBtn {
  background-color: var(--gold);
  color: black;
  border-radius: 10px;
  height: 3rem;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Match.css  ???*/

.match {
    background-color: var(--darkest-green);
    margin-bottom: 2rem;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
}

.match .flagAway,
.match .flagHome {
  width: 7rem;
  border-radius: 10px;
  height: 4.8rem;
  box-shadow: 1px 2px 6px black;
}
.match .flagAwayMobile,
.match .flagHomeMobile {
  display: none
}


@media only screen and (max-width:1050px) {
  .TipsBuilderForm {
      width: 100%;
    border: unset;

  }
}
@media only screen and (max-width:700px) {
  .TipsBuilderForm {
    margin-top: unset;
    margin-bottom: unset;
    border-radius: unset;
}
  .matchSection{
    width: 100%;
  }

  .matchSection h2 {
    text-align: center;
  }

  .match{
    border-radius: unset;
  }

  .match .flagAway,
  .match .flagHome {
      width: 4rem;
      height: 3.1rem;
      box-shadow: none;
      display: none;
  }
  .match .flagAwayMobile,
  .match .flagHomeMobile {
    display: unset;
    width: 3rem;
  }

  .match .countryName {
    font-size: 1rem;
  }
}