/* Menu ********************************/
.adminMenu {

}

.adminMenu h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    font-family: OswaldBold;
    margin-bottom: 2rem;
}

.adminMenu hr {
    height: 0.15rem;
    border: none;
    background-color: white;
}

.adminMenu .adminLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.adminMenu .adminLink {
    padding: 0.8rem;
    font-family: OswaldBold;
}

.adminMenu .active,
.adminMenu .adminLink:hover {
    color: var(--gold);
}


/* Overview ********************************/

.overview {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.overview h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: OswaldBold;
    margin-bottom: 1rem;
}

.overview .notApproved {
    margin-top: 3rem;
}

.overview .coupon .approveBtn {
    background-color: var(--gold);
    color: black;
    font-weight: bold;
}

.overview .coupon .approvedBtn {
    font-weight: bold;
    color: var(--light-green);
}

.overview .notApprovedContainer {
    border-color: var(--red);
}


.overview .approvedContainer {
}