/* Menu ********************************/
.adminMenu {

}

.adminMenu .headline {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    font-family: OswaldBold;
    margin-bottom: 2rem;
}

.adminMenu hr {
    height: 0.15rem;
    border: none;
    background-color: white;
}

.adminMenu .adminLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.adminMenu .adminLink {
    padding: 0.8rem;
    font-family: OswaldBold;
}

.adminMenu .active,
.adminMenu .adminLink:hover {
    color: var(--gold);
}


/* Overview ********************************/

.overview, .matches, .email {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.overview h2 {
    /* margin-top: 1rem; */
    font-size: 1.5rem;
    font-family: OswaldBold;
    /* margin-bottom: 1rem; */
}

.overview .notApprovedHeadline, .overview .apporvedHeadline {
    margin-top: 2rem;
}

.overview .coupon .approveBtn {
    background-color: var(--gold);
    color: black;
    font-weight: bold;
}

.overview .coupon .approvedBtn {
    font-weight: bold;
    color: var(--light-green);
}

.overview .notApprovedContainer {
    border-color: var(--red);
}


/* Machtes ****************/

.createMatch {
    width: 35rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 3rem;

}

.createMatch h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

.createMatch .createMatchForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.createMatch .createMatchForm label {
    width: 100%;
    border-radius: 10px;
}
.createMatch .createMatchForm input[type=datetime-local],
.createMatch .createMatchForm select {
    display: flex;
    width: 100%;
    height: 2.25rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.25rem;
    color: black;
}
.createMatch .createMatchForm img {
    width: 3rem;
    position: absolute;
    top: 0.3rem;
    left: -3.7rem;
}

.createMatch .createMatchForm .countryContainer {
    position: relative;
}

.createMatch .createMatchForm .submitBtn {
    background-color: var(--gold);
    color: black;
    border-radius: 10px;
    width: 60%;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.showMatches {
    margin-top: 5rem;
}

.showMatches table {
    border-radius: 10px;
    border: 1px white solid;
    min-width: 100%;
    table-layout: fixed;
}

.showMatches table thead tr {

}
.showMatches table tbody tr td,
.showMatches table thead tr th {
    text-align: center;
    padding: .5rem;
    border-bottom: 1px white solid;
    width: 1%;
}

.showMatches table thead tr th {
    color: var(--gold);
    background-color: var(--darkest-green);
}

.showMatches table tbody tr:nth-child(odd) {
    background-color: var(--dark-green);
}

.showMatches table tbody tr:nth-child(even) {
    background-color: var(--dark-green);
}
