.adminMenu {

}

.adminMenu h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    font-family: OswaldBold;
    margin-bottom: 2rem;
}

.adminMenu hr {
    height: 0.15rem;
    border: none;
    background-color: white;
}

.adminMenu .adminLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.adminMenu .adminLink {
    padding: 0.8rem;
    font-family: OswaldBold;
}

.adminMenu .active,
.adminMenu .adminLink:hover {
    color: var(--gold);
}
