.header {
    padding: 1rem;
    font-family: OswaldBold;
    font-size: 1.25rem;
    position: relative;
    padding-top: 2rem;
}

.header .footballLogo {
    width: 8rem;
    position: absolute;
    left: 3rem;
    top: -0.5rem;
}

.header nav {
    /* mx-auto flex space-x-6 justify-between */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.header hr {
    margin-top: 1rem;
    height: 0.1rem;
    border: none;
    background-color: white;
}

.header.active,
.header .headerLink:hover {
    color: var(--gold);
}

.header .lockLink {
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .header .footballLogo {
       display: none;
    }
}