.header {
    font-family: OswaldBold;
    font-size: 1.25rem;
    position: relative;
}

.header .footballLogo {
    width: 8rem;
    margin-bottom: -3rem;
    margin-right: 2rem;
}

.header nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.header hr {
    margin-top: 0.5rem;
    height: 0.15rem;
    border: none;
    background-color: white;
}

.header .headerLinks{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    gap: 3rem;
}

.header .active {
    color: var(--gold);
    border-style: solid;
    /* border-width: 1px;
    border-radius: 10px;
    border-color: var(--gold); */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.header .headerLink:hover {
    color: var(--gold);
}

.header .lockLink {
    font-size: 1.2rem;
    margin-right: 3rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .header .footballLogo {
       display: none;
    }

    .header .headerLinks {
        margin-left: unset;
        gap: unset;
        padding: 1rem;
        gap: 1rem;
    }

    .header .headerLink {
        font-size: 1rem;
        /* padding: 0.7rem; */
    }
    .header .lockLink {
        margin-right: 1rem;
    }

    .header hr {
        margin-top: unset;
    }
    
}