@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-palet-2: #003e21;
  --color-palet-1: #067242;
  --color-palet-3: #098b54;
  --color-palet-4: #f8d098;
  --grass-green: #224920;
  --gold: #FCBC02
}

html,
body {
  min-height: 100%;
}

body {
  color: #fff;
  background-color: var(--grass-green);
  text-transform: uppercase;

  /* background-color: var(--color-palet-2); */
  /* background-image: linear-gradient(var(--color-palet-1), var(--color-palet-2)); */
}