.prize {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.prize h1 {
    font-size: 2rem
}

.prize .prizesContainer {
    position: relative;
    margin-top: 7rem;
}
.prize .prizesImg {
    /* width: 100rem; */
    width: 100%;
    /* height: auto; */
    position: absolute;
    top: 0;
    left: 0;
}

.prize .rules {
    /* position: absolute;
    top: 0;
    right: 5%; */
    max-width: 30rem;
    border: solid;
    border-width: 1px;
    padding: 3rem;
    border-radius: 10px;
    margin-top: 3rem;
}

.prize .rules h4 {
    font-size: 1.5rem;
}

.prize .rules ul {
    list-style: unset;
}

.prize .rules li {
    font-size: 0.9rem;
    margin-top: 1rem;
    text-transform: none;
}

@media only screen and (max-width:640px) {
    .prize .rules {
        max-width: unset;
        width: 100%;
    }
}





@keyframes confetti-slow {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    
    100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
  }
  
  @keyframes confetti-medium {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    
    100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
  }
  
  @keyframes confetti-fast {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    
    100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
  }
  @keyframes confetti-slow {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
  
    100% {
      transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
  }
  
  @keyframes confetti-medium {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
  
    100% {
      transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
  }
  
  @keyframes confetti-fast {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
  
    100% {
      transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
  }